@{
    Layout = null;
}

@model MobilePhoneWeb.Models.DSGioHang
<section id="giohang">
    <h3>GIỎ HÀNG CỦA BẠN</h3>
    <div class="giohang-inner">

        <table>
            <colgroup span="4"
                      style="background-color:#EEE8AA;"></colgroup>
            <colgroup span="1"
                      style="background-color:#F96;"></colgroup>
            <colgroup span="1"
                      style="background-color:#EEE8AA;"></colgroup>
            <thead>
                <tr>

                    <th>
                        Ảnh
                    </th>
                    <th>
                        Tên sản phẩm
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Giá sản phẩm
                    </th>
                    <th>
                        Tổng
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Cart.Lines)
                {
                    <tr>

                        <td>
                            <a href="../SanPham/ChiTietSanPham/@item.masp">
                                <img src="~/Images/Product/@item.hinhanh" width="100px" />
                            </a>
                        </td>
                        <td>
                            <a href="../SanPham/ChiTietSanPham/@item.masp">
                                @item.tensp
                            </a>
                        </td>
                        <td style="width: 140px;">
                            @String.Format("{0:0,0 VNĐ}", Convert.ToInt32(item.soluong))
                        </td>
                        <td style="width: 140px;">
                            @String.Format("{0:0,0 VNĐ}", Convert.ToInt32(item.gia))
                        </td>
                        <td style="color:#FFF; font-weight:bold; width:140px">
                            @String.Format("{0:0,0 VNĐ}", Convert.ToInt32(item.gia * item.soluong))
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <th colspan="5" align="right">
                        Tổng tiền:
                    </th>
                    <th style="background-color:#EEE8AA; color:#F00; font-size:20px">
                        @String.Format("{0:0,0 VNĐ}", Convert.ToInt32(Model.Cart.tongtien()))
                    </th>
                    <th>
                    </th>
                </tr>

            </tfoot>
        </table>

    </div>

</section>