@model MobilePhoneWeb.Models.DSGioHang
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_LayoutPageIndex.cshtml";
}
@*<script type="text/javascript">
    $(function () {
        $('.RemoveLink').click(function () {
            var x = $(this).attr("data-id");
            if (confirm("Đối tượng sẽ bị xóa.Bạn có muốn không ?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("giohangxoa", "GioHang")',
                    data: { id: x }
                });
                $("#row-" + x).remove();
            }
            else
            {
                url: '@Url.Action("Index", "GioHang")';
            }
        })
    })
</script>*@
<section id="giohang">
    <h1>GIỎ HÀNG CỦA BẠN</h1>
    <div class="giohang-inner">

        <div style="text-align:left; background-color:#f7f7f7">
            @if (Model.Cart.Lines.Count() > 0)
            {
                if (Session["Account"] != null)
                {
                    <a href="../ThanhToan/DatHang?cusid=@Session["Account"].ToString()"><input style="width:200px;" name="btnMuaHang" class="btn-muahang" type="button" value="Đặt hàng" /></a>
                }
                else
                {
                    <a href="../ThanhToan/DatHang"><input style="width:200px;" name="btnMuaHang" class="btn-muahang" type="button" value="Đặt hàng"/></a>
                }
            }

            <a href="../index"><input style="width:200px;" name="btnTiepTucMuaHang" class="btn-muahang" type="button" value="Tiếp tục mua hàng" /></a>

        </div>
        <table>
            <colgroup span="4"
                      style="background-color:#EEE8AA;"></colgroup>
            <colgroup span="1"
                      style="background-color:#F96;"></colgroup>
            <colgroup span="1"
                      style="background-color:#EEE8AA;"></colgroup>
            <thead>
                <tr>

                    <th>
                        Ảnh
                    </th>
                    <th>
                        Tên sản phẩm
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Giá sản phẩm
                    </th>
                    <th>
                        Tổng
                    </th>
                    <th>
                        Xóa
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Cart.Lines)
                {
                    <tr>

                        <td>
                            <a href="/Index/Details/@item.masp">
                                <img src="~/Images/Product/@item.hinhanh" width="100px" />
                            </a>
                        </td>
                        <td>
                            <a href="/Index/Details/@item.masp">
                                @item.tensp
                            </a>
                        </td>
                        <td style="width: 100px;">

                            @using (Html.BeginForm("capnhatsoluong", "GioHang", new { masanpham = item.masp}))
                            {
                                <input name="soluong" type="text" pattern="[123]" value="@item.soluong" size="1" />

                                <input type="submit" alt="Cập nhật" class="updatesoluong" value="Cập nhật" />

                            }
                        </td>
                        <td style="width: 140px;">
                            @String.Format("{0:0,0 VNĐ}", Convert.ToInt32(item.gia))
                        </td>
                        <td style="color:#FFF; font-weight:bold; width:140px">
                            @String.Format("{0:0,0 VNĐ}", Convert.ToInt32(item.gia * item.soluong))
                        </td>
                        <td>
                            <a onclick="return xacnhanxoa('@item.masp')" class="RemoveLink" href="/GioHang/giohangxoa?masanpham=@item.masp">Xoá</a>

                        </td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <th colspan="5" align="right">
                        Tổng tiền:
                    </th>
                    <th style="background-color:#EEE8AA; color:#F00; font-size:20px">
                        @String.Format("{0:0,0 VNĐ}", Convert.ToInt32(Model.Cart.tongtien()))
                    </th>
                    <th>
                    </th>
                </tr>

            </tfoot>
        </table>

    </div>

</section>
