<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/all.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/Gioithieu1.js"></script>
    <script src="~/Scripts/Gioithieu2.js"></script>
    <script src="~/Scripts/hover1.js"></script>
    <script src="~/Scripts/hover2.js"></script>
    <script src="~/Scripts/MenuTop1.js"></script>
    <script src="~/Scripts/MenuTop2.js"></script>
    <script src="~/Scripts/slide.js"></script>
    <script src="~/Scripts/slide2.js"></script>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function () {

        $("#product_grid li.product_item").hover(function () {
            $(this).children("div.more-detail").stop().animate({ top: '0px' });
        }, function () {
            $(this).children("div.more-detail").stop().animate({ top: '220px' });
        });
    });
    </script>
    <script>
    function ThongBaoXoa() {
    if (confirm("Bạn có muốn xóa dữ liệu không?")) {
    return true;
    }
    else {
    return false;
    }
    } 
    </script>
        </head>
        <body>
            <script type="text/javascript">
                var _cposi = '1';
            </script>
            <div id="main">
                <div id="header">
                  
                    <ul id="top-navigation">
                        <li class="active"><span><span>@Html.ActionLink("Trang Quản Trị", "AdminIndex", "AdminIndex")</span></span></li>
                        <li class="active"><span><span>@Html.ActionLink("Quản Lý Khách Hàng", "AdminKhachHang", "AminKhachHang")</span></span></li>
                        <li class="active"><span><span>@Html.ActionLink("Quản Lý Sản Phẩm", "AMSanPham", "AMSanPham")</span></span></li>
                        <li class="active"><span><span>@Html.ActionLink("Quản Lý Đơn Hàng", "AMDonHang", "AMDonHang")</span></span></li>
                    </ul>
                </div>
                <div id="middle">
                    <div id="left-column">
                        <h3>Trang Ngưởi Dùng</h3>
                        <ul class="nav">
                            <li><a href="~/Index/Index">Trang Chủ</a></li>
                            <li><a href="~/Index/sanpham">Sản Phẩm</a></li>
                            <li><a href="#">Tin Tức</a></li>
                            <li>@Html.ActionLink("Đăng xuất","DangXuat","AdminIndex")</li>
                            <li><a href="#">.....</a></li>
                            <li class="last"><a href="#">.....</a></li>
                        </ul>
                        
                    </div>
                    <div id="center-column">
                        @RenderBody()
                        @*<div class="top-bar">
                    <a href="#" class="button">ADD NEW </a>
                    <h1>Contents</h1>
                    <div class="breadcrumbs"><a href="#">Homepage</a> / <a href="#">Contents</a></div>
                </div><br />
                <div class="select-bar">
                    <label>
                        <input type="text" name="textfield" />
                    </label>
                    <label>
                        <input type="submit" name="Submit" value="Search" />
                    </label>
                </div>
                <div class="table">
                    <img src="img/bg-th-left.gif" width="8" height="7" alt="" class="left" />
                    <img src="img/bg-th-right.gif" width="7" height="7" alt="" class="right" />
                    <table class="listing" cellpadding="0" cellspacing="0">
                        <tr>
                            <th class="first" width="177">Header Here</th>
                            <th>Header</th>
                            <th>Head</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Head</th>
                            <th>Header</th>
                            <th class="last">Head</th>
                        </tr>
                        <tr>
                            <td class="first style1">- Lorem Ipsum </td>
                            <td><img src="img/add-icon.gif" width="16" height="16" alt="" /></td>
                            <td><img src="img/hr.gif" width="16" height="16" alt="" /></td>
                            <td><img src="img/save-icon.gif" width="16" height="16" alt="" /></td>
                            <td><img src="img/edit-icon.gif" width="16" height="16" alt="" /></td>
                            <td><img src="img/login-icon.gif" width="16" height="16" alt="" /></td>
                            <td><img src="img/save-icon.gif" width="16" height="16" alt="save" /></td>
                            <td class="last"><img src="img/add-icon.gif" width="16" height="16" alt="add" /></td>
                        </tr>
                        <tr class="bg">
                            <td class="first style2">- Lorem Ipsum </td>
                            <td><img src="img/add-icon.gif" width="16" height="16" alt="add" /></td>
                            <td><img src="img/hr.gif" width="16" height="16" alt="" /></td>
                            <td><img src="img/save-icon.gif" width="16" height="16" alt="save" /></td>
                            <td><img src="img/edit-icon.gif" width="16" height="16" alt="edit" /></td>
                            <td><img src="img/login-icon.gif" width="16" height="16" alt="login" /></td>
                            <td><img src="img/save-icon.gif" width="16" height="16" alt="save" /></td>
                            <td class="last"><img src="img/add-icon.gif" width="16" height="16" alt="add" /></td>
                        </tr>
                        <tr>
                            <td class="first style3">- Lorem Ipsum </td>
                            <td><img src="img/add-icon.gif" width="16" height="16" alt="add" /></td>
                            <td><img src="img/hr.gif" width="16" height="16" alt="" /></td>
                            <td><img src="img/save-icon.gif" width="16" height="16" alt="save" /></td>
                            <td><img src="img/edit-icon.gif" width="16" height="16" alt="edit" /></td>
                            <td><img src="img/login-icon.gif" width="16" height="16" alt="login" /></td>
                            <td><img src="img/save-icon.gif" width="16" height="16" alt="save" /></td>
                            <td class="last"><img src="img/add-icon.gif" width="16" height="16" alt="add" /></td>
                        </tr>
                        <tr class="bg">
                            <td class="first style1">- Lorem Ipsum </td>
                            <td><img src="img/add-icon.gif" width="16" height="16" alt="add" /></td>
                            <td><img src="img/hr.gif" width="16" height="16" alt="" /></td>
                            <td><img src="img/save-icon.gif" width="16" height="16" alt="save" /></td>
                            <td><img src="img/edit-icon.gif" width="16" height="16" alt="edit" /></td>
                            <td><img src="img/login-icon.gif" width="16" height="16" alt="login" /></td>
                            <td><img src="img/save-icon.gif" width="16" height="16" alt="save" /></td>
                            <td class="last"><img src="img/add-icon.gif" width="16" height="16" alt="add" /></td>
                        </tr>
                        <tr>
                            <td class="first style2">- Lorem Ipsum </td>
                            <td><img src="img/add-icon.gif" width="16" height="16" alt="add" /></td>
                            <td><img src="img/hr.gif" width="16" height="16" alt="" /></td>
                            <td><img src="img/save-icon.gif" width="16" height="16" alt="save" /></td>
                            <td><img src="img/edit-icon.gif" width="16" height="16" alt="edit" /></td>
                            <td><img src="img/login-icon.gif" width="16" height="16" alt="login" /></td>
                            <td><img src="img/save-icon.gif" width="16" height="16" alt="save" /></td>
                            <td class="last"><img src="img/add-icon.gif" width="16" height="16" alt="add" /></td>
                        </tr>
                        <tr class="bg">
                            <td class="first style3">- Lorem Ipsum </td>
                            <td><img src="img/add-icon.gif" width="16" height="16" alt="add" /></td>
                            <td><img src="img/hr.gif" width="16" height="16" alt="" /></td>
                            <td><img src="img/save-icon.gif" width="16" height="16" alt="save" /></td>
                            <td><img src="img/edit-icon.gif" width="16" height="16" alt="edit" /></td>
                            <td><img src="img/login-icon.gif" width="16" height="16" alt="login" /></td>
                            <td><img src="img/save-icon.gif" width="16" height="16" alt="save" /></td>
                            <td class="last"><img src="img/add-icon.gif" width="16" height="16" alt="add" /></td>
                        </tr>
                        <tr>
                            <td class="first style4">- Lorem Ipsum </td>
                            <td><img src="img/add-icon.gif" width="16" height="16" alt="add" /></td>
                            <td><img src="img/hr.gif" width="16" height="16" alt="" /></td>
                            <td><img src="img/save-icon.gif" width="16" height="16" alt="save" /></td>
                            <td><img src="img/edit-icon.gif" width="16" height="16" alt="edit" /></td>
                            <td><img src="img/login-icon.gif" width="16" height="16" alt="login" /></td>
                            <td><img src="img/save-icon.gif" width="16" height="16" alt="save" /></td>
                            <td class="last"><img src="img/add-icon.gif" width="16" height="16" alt="add" /></td>
                        </tr>
                    </table>
                    <div class="select">
                        <strong>Other Pages: </strong>
                        <select>
                            <option>1</option>
                        </select>
                    </div>
                </div>
                <div class="table">
                    <img src="img/bg-th-left.gif" width="8" height="7" alt="" class="left" />
                    <img src="img/bg-th-right.gif" width="7" height="7" alt="" class="right" />
                    <table class="listing form" cellpadding="0" cellspacing="0">
                        <tr>
                            <th class="full" colspan="2">Header Here</th>
                        </tr>
                        <tr>
                            <td class="first" width="172"><strong>Lorem Ipsum</strong></td>
                            <td class="last"><input type="text" class="text" /></td>
                        </tr>
                        <tr class="bg">
                            <td class="first"><strong>Lorem Ipsum</strong></td>
                            <td class="last"><input type="text" class="text" /></td>
                        </tr>
                        <tr>
                            <td class="first" "><strong>Lorem Ipsum</strong></td>
                            <td class="last"><input type="text" class="text" /></td>
                        </tr>
                        <tr class="bg">
                            <td class="first"><strong>Lorem Ipsum</strong></td>
                            <td class="last"><input type="text" class="text" /></td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                </div>*@
                    </div>
                </div>
                <div id="footer"></div>
            </div>



        </body>
        </html>
